* {
    box-sizing: border-box;
    margin:0;
    color:#6E6E6E;
}

body{
	 font-weight: 300;
   font-family: 'Open Sans', sans-serif;
}

header {
	display: block;
	background-color: #404041;
	text-align:center;
	height: 145px;
}

main {
	display:flex;
	flex-direction:row;
}

h1 {
	color:#dd1972;
	font-weight: 300;
  font-size: 72px;
  margin:0;
}

.num {
 font-weight: 900;
 color:#dd1972;
}

h2 {
	font-weight: 300;
	font-size: 25px;
	margin-right: 5px;
	margin-left: 5px;
	color: #fff;
	align-items: center;
}

h3 {
	margin-bottom:4px;
	font-weight:700;
	font-size:25px;
	text-align: center;
}

button {
	border-radius: 50px;
	background-color: #6E6E6E;
	color:#ffffff;
	font-size:20px;
	font-weight:600;
	width:250px;
	height:50px;
}

input {
	height:50px;
	width:220px;
	font-size: 25px;
	border: 1px solid #d0d2d3;
}

label {
	display: block;
	font-size:20px;
	font-weight:400;
}

p {
	font-size:20px;
}

input:invalid {
	border-color: #dd1972;
}

 .challengers {
	margin:2px 19px;
	padding:10px;
	border:2px solid #d0d2d3;
	background-color:#ffffff;
}	
	
.input-box-1, 
.input-box-2,
.input-box-3,
.input-box-4 {
	display: inline-block;
}

.input-box-4,
.input-box-2 {
	margin-left: 60px;
}

.challenger-1-name,
.challenger-2-name {
	width: 450px;
}

.challenger-1-guess,
.challenger-2-guess {
	width: 250px;
}

.ranges {
	display: block;
}

.min-input-box,
.max-output-box {
	display: inline-block;
	width: 310px;
}

#head-paragraph {
	display: inline-flex;
    width: 75%;
    height: 90px;
    color: #fff;
    justify-content: center;
}

/*.ult-challenger {
	margin-bottom: 100px;
}*/

.sideline {
	display: inline-flex;
    background-color: #ffffff;
    height: 2px;
    width: 115px;
    margin-bottom: 4px;
    margin-right: 9px;
    margin-left: 9px;
}

.lowest-number, .highest-number {
	font-size:22px;
	font-weight:300;
	text-decoration:underline;
	font-weight:bold;
}

.left-section {
	display:flex;
	flex-direction:column;
	width:50%;
	border-right:1px solid #6e6e6e;
	background-color:#f7f7f7;
}

.set-range {
	margin:19px 19px;
	padding:10px;
	border:2px solid #d0d2d3;
	background-color:#ffffff;
}

#section-1-title {
	display: block;
	text-align: left;
}

.update-btn {
	border-radius: 50px;
	background-color: #6E6E6E;
	color:#ffffff;
	font-size:20px;
	font-weight:600;
	width:180px;
	height:50px;
}


legend {
	font-weight:700;
	font-size:25px;
	padding:10px 0;
}

.latest-scores {
	margin:19px 19px;
	border:2px solid #d0d2d3;
	background-color:#ffffff;
	
}

.buttons {
	display: flex;
	border: 50 px;
	margin: 30px;
	justify-content: space-between;
}

.name-1,.name-2 {
	font-weight:600;
}

.play-1-guess, .play-2-guess {
	font-size:95px;
	font-weight:800;
	color:#DD1972;
}

.play-1-high-low,.play-2-high-low {
	font-size:25px;    
}

.total-score {
    display:flex;
 justify-content: space-around;
 padding:5px;
 text-align:center;
}

.mini-right-box,
.mini-left-box {
    display: flex;
 flex-direction: column;
 justify-content: flex-end;
 flex:1;
}

.middle-line {
    display:flex;
    border:1px solid grey;
 }

.right-section {
    display:flex;
    flex-direction:column;
    width:50%;
    background-color:#D0D2D3;
}

.vs {
	font-size: 15px;
	margin:15px;
}

.winner-announces {
	font-size:40px;
	font-weight:800;
	margin-top:20px;
}

.actual-winner {
	font-size:40px;
	margin-top:0;
	margin-bottom: 20px;
}

.result-names {
	text-align:center;
	font-weight:700;
	margin-bottom:10px;
}

.winners {
    margin:19px 19px;
    background-color: #ffffff;
    border:2px solid #d0d2d3;
    padding:10px;
}

.the-winner {
    border-top:2px solid grey;
    text-align:center;
}

.guess-and-time {
    display:flex;
    justify-content:space-between;
    border-top:2px solid grey;
    padding-top:6px;
}

.number-of-guesses,.time {
    font-weight:700;
}
@media screen and (max-width: 320px) {
  
 header {
   background: magenta;
 }

 .left-section {
     background: blue;
 }
}
